body {
    background-color: skyblue;
    color: #212529;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 5;
    text-align: left;
    }
button {
    
    color: lightblue;
    
    
}